{% extends '::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/lsimarket/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lsimarket/css/iconic.cs') }}">
{% endblock stylesheets %}

{%  block body %}

<!-- Header  -->

<!-- Page layout -->
<section class="content-section">
	 <div class="container">
    <div class="title-row heading pg_20_bt">
      <h1> &nbsp;QUI SOMMES NOUS ?</h1>
    </div>
    <!-- Agents description -->
    <div class="content-panel agent-descriptions">
    <div class="agent-image image-block align-left">
      <img src="{{ asset('bundles/lsimarket/images/14365668676_082f54ecb4_b.jpg') }}" height="225" width="208" alt="">
    </div>
      <div class="agent-bio pg_20_top pg_20_lft pg_20_bt">
        
        <div class="contents">
 
<p>CIVILINC est concept fran&ccedil;ais n&eacute; en 2018, &nbsp;partant de l&rsquo;id&eacute;e simple de cr&eacute;er un mode de collaboration innovant au service de l&rsquo;action publique, dans un contexte de restriction des financements &agrave; destination des mairies et des collectivit&eacute;s.</p>

<p><strong><u>Notre d&eacute;marche</u></strong></p>
<ul>
<li>Proposer une plateforme de mutualisation ponctuelle de biens et services entre personnes publiques, dans un sch&eacute;ma collaboratif horizontal, local et durable</li>
<li>Permettre d&rsquo;acc&eacute;der &agrave; une offre globale de services libres d&rsquo;acc&egrave;s <em>(int&eacute;grant couverture assurantielle, planning, validation, facturation, aide &agrave; la contractualisation,&hellip;)</em></li>
<li>Mettre &agrave; disposition un outil simple d&rsquo;utilisation, dynamique et innovant</li>
</ul>
<p><strong><u>Nos valeurs</u></strong></p>
<ul>
<li>la confiance : l&rsquo;int&eacute;r&ecirc;t d&rsquo;&eacute;changes avec des parties connues, partageant les m&ecirc;mes enjeux et contraintes</li>
<li>le caract&egrave;re local et durable : privil&eacute;gier la proximit&eacute; et la compl&eacute;mentarit&eacute; des ressources et des besoins</li>
<li>l&rsquo;autonomie de l&rsquo;&eacute;chelon local (communes, collectivit&eacute; de communes)</li>
<li>la recherche d&rsquo;un optimum &eacute;conomique au service de l&rsquo;action publique collective</li>
</ul>

<p><strong><u>Nos engagements</u></strong></p>
<ul>
<li>Garantir une solution op&eacute;rationnelle pens&eacute;e et construite avec le concours d&rsquo;experts de la vie publique.</li>
<li>Faciliter la mutualisation du bien public, sans perte d&rsquo;autonomie et sans perte de contr&ocirc;le des collectivit&eacute;s</li>
<li>G&eacute;n&eacute;rer une source de revenus compl&eacute;mentaires r&eacute;inject&eacute;s au service de l&rsquo;action publique locale</li>
<li>Assurer une assistance personnalis&eacute;e et dynamique tout au long de votre parcours sur la plateforme</li>
</ul>
		
      </div>
      </div>
    </div>


    <div class="content-panel agents-portfolio pg_60_lft pg_20_top pg_20_bt">
	<div class="container">
		<div class="title-row heading">								<!-- Page layout -->

			 
					<div class="container">
                                                        <div class="col-md-10">
						
							<!-- Direction -->    
							<p><div class="headline v3 text-center"><h4>LA DIRECTION</h4></div></p>
                                                        </div>
                                                        
							<div class="col-md-5">
								<div class="content-box-2">
									<figure class="image-box">
										<img src="{{ asset('bundles/lsimarket/images/direction_homme.jpg') }}" style ="height:345px; width:100%; object-fit: cover;" alt="Benjamin HUMMLER – Président">
									</figure>
									<div class="contents">
										<p><h3 class="heading-style-1">Benjamin HUMMLER <br>– Président -  </h3></p>
										
           
									</div>
								</div>
							</div>
                                                        <div class="col-md-5">
								<div class="content-box-2">
									<figure class="image-box">
										<img src="{{ asset('bundles/lsimarket/images/direction_femme.jpg') }}" style ="height:345px; width:100%; object-fit: cover;" alt="Anne Lise BROUSTE – Directrice Générale">
									</figure>
									<div class="contents">
										<p><h3 class="heading-style-1">Anne Lise BROUSTE <br>– Directrice Générale - </h3></p>
										
           
									</div>
								</div>
							</div>
							
						<!-- Contact To Agent // -->
					</div>
				 
    </div>
  </div>                         
</div>		
<!-- Page layout // -->


     <!-- Agents description // -->
    <!-- Agents Portfolio -->
    <div class="content-panel agents-portfolio pg_60_lft pg_20_top pg_20_bt">
      <h2 class="content-panel-heading">UNE EQUIPE DE PROS</h2>
      <p>VOUS ACCOMPAGNE DANS TOUS VOS PROJETS JUSQU'A LA REALISATION</p>
      <div class="project-list">        
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/14202195290_4ac1d5a92b_b.jpg') }}" height="205" width="262">
          <span class="meta-list3">
            <span class="title">LISA MARIA</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/9325995752_e4b4d0044a_b.jpg') }}" height="205" width="262">
          <span class="meta-list3">
            <span class="title">JONATHAN LORAIN</span>
             <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/8203794182_8004f8f636_b.jpg') }}" height="205" width="262">
          <span class="meta-list3">
            <span class="title">MICK CHRITIAN</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/9675018730_f3ab9ab065_b.jpg') }}" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
             <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/8203794182_8004f8f636_b.jpg') }}" height="205" width="262" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/9675018730_f3ab9ab065_b.jpg') }}" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
             <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/9325995752_e4b4d0044a_b.jpg') }}" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        <div class="project">
          <div class="data">
          <a href="#">
          <img src="{{ asset('bundles/lsimarket/images/habilitation/14202195290_4ac1d5a92b_b.jpg') }}" height="683" width="1024" alt="">
          <span class="meta-list3">
            <span class="title">MICK DURANT</span>
            <span class="status">Analyste</span>
          </span>
          </a>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Agents Portfolio // -->
    <!-- Agents Contact Form -->
    <div class="content-panel agents-contact pg_60_lft pg_20_top pg_20_bt">
      <h2 class="content-panel-heading">NOUS CONTACTER</h2>
		<div><p> Vous avez des suggestions, une récommandation ou une préocupation?<br>
			Laissez nous un mot, notre conseiller client se chagerera de vous repondre.</p></div>
      <form class="row" data-parsley-validate>
        <div class="col-md-3 form-group">
          <input type="text" class="form-control input-lg" placeholder="Nom" required data-parsley-required-message="Please insert your name" name="name">
        </div>
        <div class="col-md-3 form-group">
          <input type="email" class="form-control input-lg" placeholder="E-mail ID" required data-parsley-required-message="Votre Mail" name="email">
        </div>
        <div class="col-md-3 form-group">
          <input type="text" class="form-control input-lg" placeholder="Contact" required data-parsley-required-message="Contact" data-parsley-min="10" name="contact">
        </div>
        <div class="col-md-3 form-group">
          <input type="text" class="form-control input-lg" placeholder="Ville" required name="location">
        </div>
        <div class="col-md-12">
          <div class="form-group">
          <textarea class="form-control" rows="4" placeholder="Entrer votre question" required data-parsley-minlength="20" data-parsley-minlength-message = "Come on! You need to enter at least a 20 character comment.."  data-parsley-validation-threshold="10" data-parsley-maxlength="100" name="message"></textarea>
          </div>
          <div class="form-group text-right">
          <button class="btn btn-primary">Soumettre</button>
        </div>
        </div>
        <div class="text-success text-center col-xs-12 hidden form-messges">
          <p>We will responce as soon as possible.</p>
        </div>
        
      </form>
    
    </div>
    
    <!-- Agents Contact Form // -->
  </div>
</section>
		


{% endblock %}